* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.main {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.card {
    width: 400px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
}

.banner {
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1519681393784-d120267933ba?w=1200");
    background-size: cover;
    background-position: center;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -70px;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
}

.bio {
    width: 250px;
    margin: 20px auto;
    font-size: 20px;
}

.stats {
    width: 350px;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid black;
    border-radius: 15px;

    display: flex;
    justify-content: space-between;
}

.stat-box h2 {
    margin-bottom: 10px;
}

.stat-box p {
    color: gray;
}

.social-icons {
    margin: 40px 0;
}

.social-icons i {
    font-size: 40px;
    margin: 0 20px;
}